<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite</title>
    <link rel="stylesheet" href="/static/css/favorite.css">
</head>
<body>
    <h1>Select Favorite Team</h1>
    <div class="listBlock">

    </div>
    <script type="text/javascript">
        //Get "team_list" parameter from flask call
        let teamList = {{team_list|tojson}};

        //Get HTML "listBlock" element for modifying
        let listBlock = document.querySelector(".listBlock");

        //Create list element to append to HTML "listBlock"
        let unorderedList = document.createElement("ul");

        //Iterate through each JSON object in Python list
        teamList.forEach(createTeamNameList);

        //Append entire list to HTML "listBlock" element
        listBlock.appendChild(unorderedList);

        //Parse through JSON "team" object and append names to list object
        function createTeamNameList(teamJSONArray){
            let listItem = document.createElement("li");
            listItem.innerHTML = teamJSONArray.team.name;
            unorderedList.append(listItem);
        }
    </script>
</body>
</html>
