<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    <link rel="stylesheet" href="/static/css/favorite.css">
</head>
<body>
<table id="myTable">
    <tr>
        <th>Name</th>
        <th>Country</th>
    </tr>
</table>
<script>
    var teams = {{data|tojson}};
    teams.forEach(createTable);

    function createTable(objj){
        // Get the table body element in which you want to add row
        let table = document.getElementById("myTable");

        // Create row element
        let row = document.createElement("tr")

        // Create cells
        let c1 = document.createElement("td")
        let c2 = document.createElement("td")
        let c3 = document.createElement("td")

        var a = document.createElement('a');
        var linkText = document.createTextNode("Select");
        a.appendChild(linkText);
        a.title = "Favorite";
        a.href = "/favorite_confirm?team_name="+objj["name"];
        c3.appendChild(a)

        // Insert data to cells
        c1.innerText = objj["name"];
        c2.innerText = objj["country"];

        // Append cells to row
        row.appendChild(c1);
        row.appendChild(c2);
        row.appendChild(c3);

        // Append row to table body
        table.appendChild(row)
    }
</script>
</body>
</html>
