<!doctype html>
<html>
	<head>
		<title>Our Funky HTML Page</title>
		<meta name="description" content="Our first page">
		<meta name="keywords" content="html tutorial template">
	</head>
	<body>
		<style>
			a {
				margin-top: 10px;
				display: block;
			}
			#gamesList {
				display: flex;
				justify-content: space-around;
			}

			.league-container {
				border-left: 1px solid black;
				padding-left: 20px;
				
			}
		</style>
		<h1>All Games</h1>
		<div id="gamesList">
		</div>
		<script type="text/javascript">
			const displayFutureGames = (all_games) => {
				let games = all_games;
				games_html = "";
				let i = 0;
				while (games.length > i) {
					const league = games[i]
					games_html += `
					<div class="league-container">
						<h2>${league["league_name"]}</h2>
						`;
						let j = 0;
						while (league['games'].length > j) {
							const game = league['games'][j];
							games_html += `
							<h4>${game["date"]}</h4>
							<a href="/game/${game["id"]}">${game["team_one"]} vs ${game["team_two"]}</a>
							<br />
							`;
							j++;
						}
						games_html += "</div>"
						i++;
					}
					document.querySelector("#gamesList").innerHTML = games_html;
			}
			displayFutureGames({{ all_games|tojson }});
		</script>
	</body>
</html>