<!doctype html>
<html>
	<head>
		<title>Login Page</title>
		<meta name="description" content="Our first page">
		<meta name="keywords" content="html tutorial template">
      <link rel="stylesheet" href="/static/css/login_signup.css">
	</head>
	<body>

      <div>
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
            {% for category, message in messages %}
            <div class="error_msg alert alert-danger alter-dismissable fade show" role="alert">
               {{ message }}
            </div>
            {% endfor %}
         {% endif %}
         {% endwith %}
      </div>

      <div class="center border">
         <form method="POST">
            <h1 align="center">Log In</h1>
            <div class="form-group">
               <input autofocus
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email"/>
            </div>
            <br>
            <div class="form-group">
               <input autofocus
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"/>
            </div>
            <br>
            <div align="center" class="form-group">
               <input class="btn btn-primary"
                  type="submit"
                  value="Log In">
             </div>
         </form>  
         <br>
         <div>
            <a href="/SignUp/">No account? Sign Up Now!</a>
         </div>
      </div>
      <br>
      
	</body>
</html>