<!doctype html>
<html>
	<head>
		<title>Sign Up</title>
		<meta name="description" content="Our first page">
		<meta name="keywords" content="html tutorial template">
      <link rel="stylesheet" href="/static/css/login_signup.css">
	</head>
	<body>

      <div>
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
            {% for category, message in messages %}
            <div class="error_msg alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
            </div>
            {% endfor %}
         {% endif %}
         {% endwith %}
      </div>

      <div class="border center">
         <form method="POST">
            <h1 align="center">Sign Up</h1>
            <div class="form-group">
               <input autofocus
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email"/>
            </div>
            <br>
            <div class="form-group">
               <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Enter username"/>
            </div>
            <br>
            <div class="form-group">
               <input autofocus
                  type="password"
                  class="form-control"
                  id="password1"
                  name="password1"
                  placeholder="Password"/>
            </div><br>
            <div class="form-group">
               <input autofocus
                  type="password"
                  class="form-control"
                  id="password2"
                  name="password2"
                  placeholder="Confirm Password"/>
            </div>
            <br>
            <div align="center" class="form-group">
               <input class="btn btn-primary"
                  type="submit"
                  value="Sign Up">
             </div>
         </form>
         <br/>
         <div>
            <a href="/">Log in instead</a>   
         </div>
      </div>
      <br>
      
	</body>
</html>