<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta name="description" content="Our first page">
		<meta name="keywords" content="html tutorial template">
		<link rel="stylesheet" href="/static/css/splash.css"/>
	</head>
	<body>
		<h1>Welcome {{ username }}</h1>
		<nav>
			<ul class="list">
				<li><a href="/teams/" class="link">Teams</a></li>
				<li><a href="/games/" class="link">Games</a></li>
				<li><a href="/Logout/" class="link">Logout</a></li>	
			</ul>
		</nav>
		{% if fav_team %}
		<div>Fav Team: {{ fav_team }}</div>
		{% endif %}
	</body>
</html>