
{% extends 'shell.html'%}

<!doctype html>
<html>
	{% block head %}
	<head data-address-tag="teams"></head>
	{% endblock %}

	{% block body %}
	
	<div class="container" style="display: flex; justify-content: center; align-items: center;">
		<h1>Teams in La Liga</h1>
	</div>
	<div class="container" style="display: flex; justify-content: center; align-items: center;">
		<a class="btn btn-primary my-3" href="/" style="margin: 5px;">Home</a>
		<a class="btn btn-primary my-3" href="/games">Search Games</a>
	</div>
	
		<div class="container" style="display: flex; justify-content: center; align-items: center;">
			<div class="row" align="center" >
			
				<ol class="list-group" style="width: 18rem; padding:5px; left: 50%;">
					<li class="list-group-item active">Top 5 Teams by Rank</li>
					{% for team in rankStanding %}
					<li class="list-group-item">{{team['name']}}</li>
					{% endfor %}
				</ol>
				<ol class="list-group" style="width: 18rem; padding:5px; left: 50%;">
					<li class="list-group-item active">Top 5 Teams by Goals</li>
					{% for team in goalStanding %}
					<li class="list-group-item">{{team['name']}}</li>
					{% endfor %}
				</ol>
			</div>
		</div>

		<div class="container">
			<div class="row" align="center">
				<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for team in teams %}
					<div class="col-sm-4">
						<div class="card" style="width: 18rem; padding:5px; display:inline-block">
							<img src="{{team['image']}}" alt="logo" class="card-img-top">
							<div class="card-body">
								<h5 class="card-title">{{team['name']}}</h5>
								<a href="/players/{{team['id']}}" id="team-button" class="btn btn-primary team-link"> Players </a>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">ID: {{team['id']}}</li>
								<li class="list-group-item">Founded: {{team['founded']}}</li>
								<li class="list-group-item">Venue: {{team['venue']}}</li>
							</ul>
						</div>
					</div>
				{% endfor %}

				</div>


	{% endblock %}
</html>

